.postContent {
  list-style: none;
  padding-bottom: 4rem;

  li {
    padding: 3.5rem 0 0 0;
    cursor: pointer;

    > :is(h2, p) {
      padding: 0 0 0.5rem 0;
    }

    h2 {
      color: var(--heading);
    }

    span {
      display: flex;
      align-items: center;
      color: var(--body);

      time {
        margin: 0 1.5rem 0 0;
        color: var(--body)
      }

      svg {
        margin: 0 0.5rem 0 0;
      }
    }
  }

  li:hover {
    h2 {
      color: var(--highlight);
      transition: 0.3s linear;
      -webkit-transition: 0.3s linear;
      -moz-transition: 0.3s linear;
      -ms-transition: 0.3s linear;
      -o-transition: 0.3s linear;
    }
  }
}

.contentButtons {
  display: flex;
}
