.headerContainer {
  height: 6.5rem;
}

.headerContant {
  max-width: 1120px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;

  img {
    cursor: pointer;
  }
}
